<h2>營業時間</h2>


<table>
    <tr>
        <td>pharmacy id</td>        
        <td>pharmacy name</td>        
        <td>pharmacy opening_hours</td>        
                
    </tr>
    <% @pharmacies.each do |pharmacy| %>
    <tr>
        <td><%= pharmacy.id %></td>        
        <td><%= pharmacy.name %></td>        
        <td><%= pharmacy.opening_hours %></td>
        <td>
          <%= new_parse_opening_hours(pharmacy.opening_hours) %>
        </td>
        
        
    </tr>
    <% end %>


</table>